<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home :: head"  ></head>
<body>
<nav th:replace="home :: navbar"  >

</nav>


<form th:action="@{/add}" th:object="${rooms}" method="post">
    <div class="form-group">
        <label for="exampleInputText1">Address</label>
        <input type="text" class="form-control" id="exampleInputText1" placeholder="Address" th:field="*{roomAddress}"/>
    </div>
    <div class="form-group">
        <label for="exampleInputText2">City</label>
        <input type="text" class="form-control" id="exampleInputText2" placeholder="City" th:field="*{roomCity}"/>
    </div>
    <div class="form-group">
        <label for="exampleInputText3">State</label>
        <input type="text" class="form-control" id="exampleInputText3" placeholder="State" th:field="*{roomState}"/>
    </div>
    <div class="form-group">
        <label for="exampleInputText4">Price</label>
        <input type="text" class="form-control" id="exampleInputText4" placeholder="Price" th:field="*{roomPrice}"/>
    </div>
    <div class="form-group">
        <label for="exampleInputText1">Description</label>
        <input type="text" class="form-control" id="exampleInputText1" placeholder="Description" th:field="*{roomDescription}"/>
    </div>
    <div class="form-group">
        <label for="exampleInputText2">Rules</label>
        <input type="text" class="form-control" id="exampleInputText2" placeholder="Rules" th:field="*{roomRules}"/>
    </div>
    <div class="checkbox">
        <p style="display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;">Wifi</p><br/>
        <label>
            <input type="checkbox" checked= "true" th:field="*{roomWifi}"/> Y/N
        </label>
    </div>
    <div class="radio">
        <p style="display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;">Cable</p><br/>
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="none" th:field="*{roomCable}"/>
            None
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="basic" th:field="*{roomCable}"/>
            Basic
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="premium" checked= "true" th:field="*{roomCable}"/>
            Premium
        </label>
    </div>
    <div class="checkbox">
        <p style="display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;">Private Bathroom</p><br/>
        <label>
            <input type="checkbox" checked= "true" th:field="*{roomBathroom}"/> Y/N
        </label>
    </div>
    <!-- <div class="form-group">
         <label for="exampleInputPassword1">Password</label>
         <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
     </div>
     <div class="form-group">
         <label for="exampleInputFile">File input</label>
         <input type="file" id="exampleInputFile">
         <p class="help-block">Example block-level help text here.</p>
     </div>
     <div class="checkbox">
         <label>
             <input type="checkbox"> Check me out
         </label>
     </div>-->
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>